{
  "data": {
    "country": "US",
    "currency": "USD",
    "elevation": 0,
    "external_url": null,
    "internal_url": null,
    "language": "en",
    "latitude": 42.0587857,
    "location_name": "Home",
    "longitude": -87.7154846,
    "radius": 100,
    "time_zone": "America/Chicago",
    "unit_system_v2": "us_customary"
  },
  "key": "core.config",
  "minor_version": 4,
  "version": 1
}
